.prodottoPreso-true {
    text-decoration: line-through;
    color: grey;
}

.container {
    padding-top: 30px;
}

input[type=checkbox] {
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 1px;
}
div#app {
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(200, 207, 211, 0.212);
    display: table;
    margin: 0 auto;
}

li:nth-last-child() {
    border-radius: 5px;
}

li:nth-child(even) {
    background-color: rgba(208, 222, 231, 0.644);
}

.testoProdotto {
    max-width: 245px;
    word-break: break-all;
}

h1 {
    text-align: center;
}

li {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    display: block;
    background-color: rgb(188, 210, 226);
}

ul {
    padding-left: 0px;
}

label {
    margin-bottom: 0px;
}

input[type=checkbox] {
    float: right;
}

.form-control {
    margin-right: 2px;
    display: inline-block;
    width: auto;
}

div#idAggiuntaProdotto {
    margin-top: 50px;
}

div#idLista {
    margin-top: 35px;
    margin-bottom: 15px;
}

div#idEliminazione {
    margin-top: 25px;
}