<html>

<head>
    <script src="../../vue.js"></script>
    
    <link href="../../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="stile.css" rel="stylesheet" type="text/css">
    
    <script src="../../Draggable/sortable.js"></script>  
    <script src="../../Draggable/draggable.js"></script>
    <script src="app.js"></script>

</head>

<body>
    
    <div class="container">
        <div id="app">
            <h1>Lista della spesa</h1>
            <!--Form per aggiunta prodotto alla lista -->
            <div id="idAggiuntaProdotto">

                <input class="form-control" v-on:keyup.enter="aggiuntaProdotto()" type="text" v-model="nuovoProdotto" placeholder="Nome del prodotto..." />
                <input class="btn btn-primary" v-on:click="aggiuntaProdotto()" type="submit" value="Aggiungi" />
            </div>

            <!--Stampa e controllo lista della spesa-->

            <div id="idLista">
                <div v-if="listaSpesa.length == 0">Non sono presenti prodotti nella lista.</div>
                <div v-else>  <!--Se nell'array ci sono degli oggetti, stampa tutti gli elementi-->
                     <draggable v-bind:list="listaSpesa">   <!-- aggiungere draggable per abilitare drag and drop -->
                        <li v-for="prodotto in listaSpesa">

                            <label class="testoProdotto" v-bind:class="'prodottoPreso-' + prodotto.preso">{{prodotto.testo}}</label>
                            <input v-on:click="aggiornamentoChecked(prodotto)" v-on:keyup.delete = "eliminazioneProdottiSelezionati()" v-bind:checked="prodotto.preso" type="checkbox" v-bind:value="prodotto.testo" />
                        </li>
                    </draggable>
                </div>
            </div>

            <div id="idEliminazione" v-show="numProdottiSelezionati != 0">
                <button class="btn btn-danger" v-on:click="eliminazioneProdottiSelezionati()">Elimina {{numProdottiSelezionati}} prodotti selezionati</button>
            </div>

        </div>
    </div>
</body>

</html>