<html>

<head>
    <meta charset="UTF-8">
    <script src="../../vue.js"></script>
    <script src="appAggiuntaCliente.js"></script>
    <script src="funzioniJsUtility.js"></script>
    <link href="../../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="stile.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body class="sfondoBody">

    <!--INIZIO NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Parte della navbar allineata a sinistra -->
            <ul class="nav navbar-nav">
                <li><a href="#"> Lista clienti <span class="glyphicon glyphicon-th-list"></span></a></li>
                <li><a href="#">  Aggiungi cliente <span class="glyphicon glyphicon-plus"></span></a></li>
            </ul>

            <!-- Parte della navbar allineata a destra -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">  Effettua il logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </nav>
    <!-- FINE NAVBAR -->


    <div class="container sfondoApp">

        <div id="appAggiuntaCliente" :onload="inizializzazioneDatiAggiuntaCliente()">
            <h1>Aggiunta nuovo cliente</h1>

            <form v-on:submit.prevent="aggiungiCliente()">
                <label>Ragione sociale:</label>
                <input class="form-control" type="text" v-model="nuovaRagioneSociale" required/>
                <label>Indirizzo residenza: </label>
                <input class="form-control" type="text" v-model="nuovoIndirizzoResidenza" required/>
                <label>Contatto telefonico: </label>
                <input class="form-control" type="text" v-model="nuovoContattoTelefonico" required/>
                <label>Partita iva: </label>
                <input class="form-control" type="text" v-model="nuovaPartitaIva" required/>
                <label>Settore: </label>
                <input class="form-control" type="text" v-model="nuovoSettore" required/>
                <label>Indirizzo Mail: </label>
                <input class="form-control" type="email" v-model="nuovoIndirizzoMail" required/>

                <input @click="ripristinaForm()" type="button" class="btn btn-default" value="Ripristina">
                <input :disabled="disabilitaAggiungi" class="btn btn-primary" type="submit" value="Aggiungi cliente">
            </form>
        </div>

    </div>
</body>

</html>