<html>

<head>
    <meta charset="UTF-8">
    <script src="../../vue.js"></script>
    <script src="app.js"></script>
    <link href="../../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="stile.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div id="app" :onload="inizializzaDati()">

            <!-- PAGINA DI LOGIN -->
            <div id="login" v-if="controlloPulsante">
                <h1>Login</h1>
                <form v-on:submit.prevent="confrontaCredenziali()" action="">
                    <input type="text" class="form-control" v-model="nuovoUsername" placeholder="Inserisci il tuo username..." required/>
                    <input type="password" class="form-control" v-model="nuovaPassword" placeholder="Inserisci la tua password..." required/>
                    <input type="submit" class="btn btn-primary" value="Accedi" />
                </form>
                <div id="richiestaRegistrazione">
                    <p>Non sei ancora registrato?</p>
                    <button class="btn btn-primary" v-on:click="cambiaStato()">Registrati!</button>
                </div>
            </div>

            <!-- PAGINA DI REGISTRAZIONE -->
            <div id="registrazione" v-else>
                <h1>Registrazione</h1>
                <form v-on:submit.prevent="aggiuntaUtente()" action="">
                    
                    
                    <label>Username</label>
                    <input v-bind:class=" 'errore-input-' + !usernameValido " v-on:keyup="controlloUsername()" type="text" class="form-control" v-model="nuovoUsername" placeholder="Inserisci username..." required/>
                    <small>Nota: l'username deve contenere almeno 4 caratteri.</small>
                    <label>E-mail</label>
                    <input type="email" class="form-control" v-model="nuovaEmail" placeholder="Inserisci la tua email..." required/>
                    <label>Password</label>
                    <input v-bind:class=" 'errore-input-' + !passwordValida " v-on:keyup="controlloPassword()" type="password" class="form-control" v-model="nuovaPassword" placeholder="Inserisci la tua password..." required/>
                    <small>Nota: la password deve contenere almeno una maiuscola, una minuscola e un numero.</small>
                    
                    <span v-show = "nuovaPassword.length > 1 && passwordValida" >
                        <label >Conferma password</label>
                        <input  v-bind:class=" 'errore-input-' + !confermaPasswordValida " v-on:keyup="controlloConfermaPassword()" type="password" class="form-control" v-model="confermaPassword" placeholder="Inserisci nuovamente la password..." required/>
                    </span>
                    
                    <label>Data di nascita</label>
                    <input type="date" class="form-control" placeholder="seleziona la tua data di nascita" required/>              <!-- data di nascita -->

                    <div id="stampaErrori" v-show="sonoPresentiErrori()">
                        <p class="errore-dati" v-show="!usernameValido">{{messaggioErroreUsername}}</p>
                        <p class="errore-dati" v-show="!passwordValida">ERRORE: Password non valida!</p>
                        <p class="errore-dati" v-show="!confermaPasswordValida">ERRORE: Le due password non coincidono!</p>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Registrati">
                </form>
                <div id="richiestaRegistrazione">
                    <p>Sei già registrato?</p>
                    <button class="btn btn-primary" v-on:click="cambiaStato()">Accedi!</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>