#app div {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.container {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(185, 199, 226);
    border-radius: 30px;
}

div#richiestaRegistrazione {
    margin-top: 50px;
}

input {
    margin: 5 auto;
    margin-top: 30px;
}

input[type=submit] {
    display: block;
    margin-top: 30px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.errore-dati {
    color: red;
}

.errore-input-true,
.errore-input-true:focus {
    border-color: red;
    background-color: #ff000026;
}

small {
    text-align: left;
}

form {
    text-align: left;
    margin: 0 auto;
    max-width: 60%;
}

label {
    margin-top: 20px;
    display: block;
}

div#stampaErrori {
    margin-top: 50px;
}




.form-control {
    border-radius: 9px;
}