<html>

<head>
    <meta charset="UTF-8">
    <script src="../../vue.js"></script>
    <script src="funzioniJsUtility.js"></script>
    <script src="app2.js"></script>
    <link href="../../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="stile.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="sfondoBody">


    <!--INIZIO NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Parte della navbar allineata a sinistra -->
            <ul class="nav navbar-nav">
                <li><a href="#"> Lista clienti <span class="glyphicon glyphicon-th-list"></span></a></li>
                <li><a href="#">  Aggiungi cliente <span class="glyphicon glyphicon-plus"></span></a></li>
            </ul>

            <!-- Parte della navbar allineata a destra -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">  Utente <span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="#">  Effettua il logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </nav>
    <!-- FINE NAVBAR -->

    <div class="container sfondoApp">
        <div id="appInterna">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <h2>Ricerca</h2>
                    <input class="form-control" @keyup=" ricercaClienti()" type="text" v-model="testoCercato" placeholder="ricerca un cliente..." />
                    <input class="form-control" type="text" placeholder="ricerca un cliente..." />
                    <small><strong>Nota:</strong> puoi ricercare un cliente inserendo la sua ragione sociale.</small>
                </div>
            </div>

            <div id="listaClienti">
                <div v-if="clienti.length != 0 && numClientiDaVisualizzare > 0">
                    <h2>Lista dei clienti</h2>

                    <div v-show="cliente.daVisualizzare" class=" col-xs-4" v-for="(cliente, index) in clienti">
                        <div class="liCliente" style="width: auto">
                            <p><strong>Ragione sociale: </strong> {{cliente.ragioneSociale}}</p>
                            <p><strong>Data registrazione: </strong> {{cliente.dataRegistrazione}}</p>
                            <p><strong>Partita Iva: </strong> {{cliente.partitaIva}}</p>
                            <span class="bottoniClienti">
                                <button @click = "serializzaDatiClientiPerModifica(index)" class="btn btn-primary">Modifica</button>
                                <button @click = "rimuoviCliente(index)" class="btn btn-danger">Elimina</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <h2>Non sono presenti clienti da visualizzare.</h2>
                </div>
            </div>
        </div>
</body>

</html>