h1, ul{
    color: red;
    text-align: center;
}

h1{
    padding: 12px;
    border: solid black 1px;
    margin: 5px;
}

li{
    display: block;
    color: green   ;
    margin: 10px;
    margin-top: 20px; 
    margin-bottom: 20px;
}




.testoViola{
    color: purple;
}

li.testoViola{
    text-align: left
}


